@import "./../abstracts/vars";
@import "./../abstracts/mixin";

.data {
    @include flexBetween ();
    max-width: 995px;
    width: 100%;

    &__information {
        color: $lablelColor;
    }

    &__date {
        position: relative;
        @include text (10px, 400, 12px, $lablelColor);

        &::after {
            content: "";
            background-image: url("./../../assets/images/Calendar.png");
            @include bgImg ();
            @include size (20px, 20px);
            position: absolute;
            top: -50%;
            left: -26px;
        }
    }
}
