@import "./../abstracts/vars";
@import "./../abstracts/mixin";

.user {
    display: flex;
    align-items: center;

    &__notif {
        background-image: url("./../../assets/images/notif.png");
        @include bgImg ();
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }

    &__icon {
        background-image: url("./../../assets/images/People.png");
        @include bgImg ();
        width: 40px;
        height: 40px;
        margin-right: 16px;
        position: relative;

        &::after {
            content: "";
            background-color: #05EF63;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &__text {
        &-welcome {
            text-transform: uppercase;
            @include text (10px, 400, 12px, $lablelColor);
        }
    }

    &__name {
        display: flex;
        align-items: center;

        &-text {
            @include text (16px, 600, 19px, $normalColor);
            margin-right: 8px;
        }

        &-btn {
            background: transparent;
            border: none;
            background-image: url("./../../assets/images/Arrow\ -\ Down\ 2.png");
            @include bgImg ();
            width: 16px;
            height: 16px;
        }
    }
}
