@mixin text ($fontSize, $fontWeight, $lineHeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}

@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween () {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin bgImg () {
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin media($width, $type:max) {
    @media (#{$type}-width: $width) {
        @content;
    }
}